:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Roboto+Slab:wght@100..900&family=Xanh+Mono:ital@0;1&display=swap');

body {
  background-image: url('https://i.imgur.com/YCIv148.jpeg');
  background-repeat: repeat;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.large-header {
  padding-left: 20px;
  font-size: 75px; 
}
.header-background {
  font-size: 110px;
  background-color:whitesmoke;
  margin-bottom: 0;
}
.btn {
  background-color: #9CAB86;
}
.btn.btn-danger {
  background-color: black; 
}
.search.my-3 {
  margin-left: 90px;
  margin-right: auto;
  width: 50%;
  padding-top: 25px;
  box-shadow: #9CAB86;
}
.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.emoji-button.favorite {
  position: absolute;
  top: 10px; 
  left: 10px; 
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}


